

body{
content: '';
top: 0;
left: 0;
width: 100%;
height: 100%;
position: absolute;
background-image: url(IMG/bg-2.jpg);
 z-index: -1;
}



.a{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
}

.b{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
}

.c{
     display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
}

.d{
   display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
}

.e{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
}

.f{
 display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
}

.g{
     display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
}